<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
    <title>图片分享Demo</title>
  </head>
  <body>
  	<div><%= photoDict %></div>

  </body>
</html>
