<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brands</key>
	<array>
		<dict>
			<key>name</key>
			<string>Agi&amp;Sam</string>
			<key>objectId</key>
			<string>52e3602ee4b03e93d30a1eee</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alexander McQueen</string>
			<key>objectId</key>
			<string>52e36045e4b03e93d30a1f0f</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alexander Wang</string>
			<key>objectId</key>
			<string>52e3605ae4b03e93d30a1f31</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ami</string>
			<key>objectId</key>
			<string>52e36079e4b03e93d30a1f64</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Andrea Pompilio</string>
			<key>objectId</key>
			<string>52e36090e4b03e93d30a1f84</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ann Demeulemeester</string>
			<key>objectId</key>
			<string>52e360afe4b03e93d30a1fb2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Astrid Andersen</string>
			<key>objectId</key>
			<string>52e360c9e4b03e93d30a1fd3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Baartmans And Siegel</string>
			<key>objectId</key>
			<string>52e360e1e4b03e93d30a1fec</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Balenciaga</string>
			<key>objectId</key>
			<string>52e360eae4b03e93d30a1ff7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bally</string>
			<key>objectId</key>
			<string>52e360ffe4b03e93d30a2012</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Balmain</string>
			<key>objectId</key>
			<string>52e36112e4b03e93d30a2027</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Belstaff</string>
			<key>objectId</key>
			<string>52e36132e4b03e93d30a2046</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Berluti</string>
			<key>objectId</key>
			<string>52e36143e4b03e93d30a205e</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bespoken</string>
			<key>objectId</key>
			<string>52e36175e4b03e93d30a2090</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DKNY</string>
			<key>objectId</key>
			<string>52e36187e4b03e93d30a20a4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>E.Tautz</string>
			<key>objectId</key>
			<string>52e361a3e4b03e93d30a20c3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emporio Armani</string>
			<key>objectId</key>
			<string>52e361bae4b03e93d30a20e1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ermenegildo Zegna</string>
			<key>objectId</key>
			<string>52e361ebe4b03e93d30a2140</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Etro</string>
			<key>objectId</key>
			<string>52e361f9e4b03e93d30a215f</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fendi</string>
			<key>objectId</key>
			<string>52e36210e4b03e93d30a2196</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Giorgio Armani</string>
			<key>objectId</key>
			<string>52e36224e4b03e93d30a21bf</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Givenchy by Riccardo Tisci</string>
			<key>objectId</key>
			<string>52e36243e4b03e93d30a2204</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hackett  London</string>
			<key>objectId</key>
			<string>52e36265e4b03e93d30a2241</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Haider Ackermann</string>
			<key>objectId</key>
			<string>52e3627ce4b03e93d30a2268</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hermès</string>
			<key>objectId</key>
			<string>52e36287e4b03e93d30a227b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hood By Air</string>
			<key>objectId</key>
			<string>52e362a6e4b03e93d30a22b0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Iceberg</string>
			<key>objectId</key>
			<string>52e362c6e4b03e93d30a22e9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Issey Miyake</string>
			<key>objectId</key>
			<string>52e362e9e4b03e93d30a2316</string>
		</dict>
		<dict>
			<key>name</key>
			<string>James Long</string>
			<key>objectId</key>
			<string>52e3630ae4b03e93d30a233f</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jean Paul Gaultier</string>
			<key>objectId</key>
			<string>52e3631be4b03e93d30a235a</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jeremy Scott</string>
			<key>objectId</key>
			<string>52e36339e4b03e93d30a237e</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kenzo</string>
			<key>objectId</key>
			<string>52e36345e4b03e93d30a238c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kolor</string>
			<key>objectId</key>
			<string>52e36364e4b03e93d30a23c4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kris Van Assche</string>
			<key>objectId</key>
			<string>52e36375e4b03e93d30a23ea</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lacoste</string>
			<key>objectId</key>
			<string>52e3638ae4b03e93d30a2415</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lanvin</string>
			<key>objectId</key>
			<string>52e363a1e4b03e93d30a2449</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Les Hommes</string>
			<key>objectId</key>
			<string>52e363b6e4b03e93d30a2477</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lou Dalton</string>
			<key>objectId</key>
			<string>52e363cee4b03e93d30a24a3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Louis Vuitton</string>
			<key>objectId</key>
			<string>52e363dee4b03e93d30a24c2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>N.Hoolywood</string>
			<key>objectId</key>
			<string>52e363ffe4b03e93d30a24f1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Neil Barrett</string>
			<key>objectId</key>
			<string>52e36418e4b03e93d30a251a</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maison Martin Margiela</string>
			<key>objectId</key>
			<string>52e36437e4b03e93d30a2547</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MAN</string>
			<key>objectId</key>
			<string>52e3644de4b03e93d30a2569</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Margaret Howell</string>
			<key>objectId</key>
			<string>52e36478e4b03e93d30a25b1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mark McNairy</string>
			<key>objectId</key>
			<string>52e36488e4b03e93d30a25cc</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Martine Rose</string>
			<key>objectId</key>
			<string>52e364a1e4b03e93d30a25f6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Matthew Miller</string>
			<key>objectId</key>
			<string>52e364a9e4b03e93d30a2606</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Michael Bastian</string>
			<key>objectId</key>
			<string>52e364b4e4b03e93d30a261e</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Miharayasuhiro</string>
			<key>objectId</key>
			<string>52e364c6e4b03e93d30a2641</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Moschino</string>
			<key>objectId</key>
			<string>52e364d3e4b03e93d30a2658</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Missoni</string>
			<key>objectId</key>
			<string>52e364e2e4b03e93d30a2679</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Moncler Gamme Bleu</string>
			<key>objectId</key>
			<string>52e364fbe4b03e93d30a26a6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3.1 Phillip Lim</string>
			<key>objectId</key>
			<string>52e36515e4b03e93d30a26d2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Patrick Ervell</string>
			<key>objectId</key>
			<string>52e3652de4b03e93d30a26fd</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pringle of Scotland</string>
			<key>objectId</key>
			<string>52e36539e4b03e93d30a271a</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Valentino</string>
			<key>objectId</key>
			<string>52e3653ce4b03e93d30a2724</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Versace</string>
			<key>objectId</key>
			<string>52e36551e4b03e93d30a2757</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Viktor&amp;Rolf</string>
			<key>objectId</key>
			<string>52e36570e4b03e93d30a2795</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vivienne Westwood</string>
			<key>objectId</key>
			<string>52e3657ee4b03e93d30a27b1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Walter Van Beirendonck</string>
			<key>objectId</key>
			<string>52e36597e4b03e93d30a27df</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Xander Zhou</string>
			<key>objectId</key>
			<string>52e365ace4b03e93d30a2808</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Y-3</string>
			<key>objectId</key>
			<string>52e365bfe4b03e93d30a282b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yohji Yamamoto</string>
			<key>objectId</key>
			<string>52e365dfe4b03e93d30a2866</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Z Zegna</string>
			<key>objectId</key>
			<string>52e365fee4b03e93d30a2895</string>
		</dict>
	</array>
    <key>temperatures</key>
    <array>
        <dict>
			<key>name</key>
			<string>Jeremy Scott</string>
			<key>objectId</key>
			<string>52e36339e4b03e93d30a237e</string>
		</dict>
    </array>
</dict>
</plist>
